@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
html, body{
  height: 100%;
}

body {
  background-color: #343a40;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: auto;
}

.card {
  background-color: #e3e3e3;
  opacity: initial;
  padding: 40px;
}

.label-float input {
  width: 100%;
  padding: 5px 5px;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid;
  background-color: transparent;
  outline: none;
  min-width: 180px;
  font-size: 16px;
  transition: all .3s ease-out;
  border-radius: 0;

}

.label-float {
  position: relative;
  padding-top: 13px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.label-float input:focus {
  border-bottom: 2px solid #db1b1e;
}

.label-float label {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 13px;
  transition: all .3s ease-out;
}

.label-float input:focus+label,
.label-float input:valid+label {
  font-size: 13px;
  margin-top: 0;

}

.justify-center {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000
}

a {
  position: relative;
  color: #fff;
  text-decoration: none;
}

/* BORDA VERMELHA DOS LINKS DA BARRA DE NAVEGACAO */
a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(201, 13, 13);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* TIRAR BORDINHA VERMELHA DOS LINKS */
.text-reset:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0px;
  bottom: 0;
  left: 0;
  background-color: none;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s;
}

/* OLHO DA SENHA */
#input>* {
  height: 1.9em;
  float: left;
}

#input img {
  cursor: pointer;
  position: absolute;
  width: 20px;
}

#input2>* {
  height: 1.9em;
  float: left;
}

#input2 img {
  cursor: pointer;
  position: absolute;
  width: 20px;
}

/* SCROLLBAR */
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #343a40;
}

body::-webkit-scrollbar-thumb {
  background-color: #dc3545;
  border-radius: 20px;
  border: 6px solid #dc3545;
}

.form-select {
  background-color: #dc3545;
  border-color: #dc3545;
}

.form-control::placeholder {
  color: white;
}

.footerteimoso {
  position: fixed;
  bottom:0;
}

/*FORMAS DE PAGAMENTO NO CARRINHO*/
#p_pix:checked ~ #pag_pix{
  display: block;
}

#pag_pix {
  display:none;
}

#pag_credito {
  display:none;
}

#pag_debito {
  display:none;
}



